html, body {
  margin: 0;
}

.main-content-container{
  width: 100vw;
  background: rgb(226, 226, 226);
}

.places-list {
  width: 100%;

}

.posts-list {
  width: 100%;
  height: 100%;
}

.place {
  position: relative;
  min-height: 100dvh;
}

.content-info {
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white; /* you can change the color */
}

.content-info-text {
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.content-info-background {
  z-index: 9999;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.post-username {
  margin: 0;
}

.video {
  height: 100dvh;
}

.post.active {
  display: block;
}

.post {
  display: none;
  text-align: center;
}
