<h1>Favourites</h1>
<ul>
  <% current_user.favourites.each do |favourite| %>
    <% place = favourite.place %>
    <li class="favourite-item">
     <div class="image-container">
  <%= image_tag(place.image.url) %>
    </div>
      <div class="item-details">
        <div class="item-name">
          <%= place.name %>
          <span class="favourite-icon"><i class="fas fa-heart"></i></span>
        </div>
        <div class="item-description">
          <%= place.description %>
          <span class="reshare-icon"><i class="fas fa-share"></i></span>
        </div>
      </div>
    </li>
  <% end %>
</ul>
