<h1>Favourites</h1>
<ul>
  <% @places.each do |place| %>
    <% place.posts.each do |post| %>
      <li class="favourite-item">
        <div class="video-container">
          <%= cl_video_tag(
            post.video.key,
            autoplay: true,
            muted: true,
            loop: true,
            controls: true,
            fallback_content: "Your browser does not support HTML5 video tags."
          ) %>
        </div>
        <div class="item-details">
          <div class="item-header">
            <span class="item-name"><%= place.name %></span>
            <span class="favourite-icon"><i class="fas fa-heart"></i></span>
          </div>
          <div class="reshare-icon"><i class="fas fa-share"></i></div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
