<video id="videoElement" data-record-video-target="videoElement" autoplay muted>
</video>

<div id="record-video-buttons">
  <button id="record-button" data-action="click->record-video#toggleRecording" data-target="record-video.recordButton">
  </button>
</div>
