<video id="videoElement" class="flipped" data-record-video-target="videoElement" autoplay muted playsinline></video>

<%# Invisible block to give hide parts of the navbar line for better visual integration with the record button %>
<div id="invisible-block"></div>

<div id="record-video-buttons">
  <button id="record-button" data-action="click->record-video#toggleRecording" data-target="record-video.recordButton">
  </button>
</div>
