<div data-controller="record-video">
  <%= form_with(model: [@place, @post], local: true) do |f| %>

    <%= f.hidden_field :video_url, id: 'hidden_video_url' %>
    <%= f.hidden_field :video_public_id, id: 'hidden_video_public_id' %>
  <% end %>
  <%= render "new_video" %>
</div>
