<%= render partial: 'category_bar' %>
<div class="main-content-container">
  <div class="places-list">
    <% current_user.places.posts.order('created_at DESC').each do |post| %>
      <div id="post_<%= post.id %>" class="post" data-place-target="post" data-post-id="<%= post.id %>">
        <%= render partial: 'post', locals: { post: post } %>
      </div>
    <% end %>
  </div>
</div>
