.category-bar {
  width: 100vw;
}

.category-list {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category-list::-webkit-scrollbar {
  display: none;
}

img {
  width: 46px;
}
