.category-bar {
  width: 100vw;
  height: 100px;
  scroll-margin-top: 80px; /* Adjust this value as needed */
}

.category-text {
  color: white;
}

.category-list {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-top: 80px; /* Adjust this value to match scroll-margin-top */
  scroll-snap-align: start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category-list::-webkit-scrollbar {
  display: none;
}

.category-bar img {
  width: 46px;
}
