/* app/assets/stylesheets/favourites.css */

/* CSS Styles for the Favourites List */
ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

.favourite-header {
  padding-inline-start: 10px;
}

.favourite-item {
  display: flex;
  padding: 1rem 0.5rem;
}

.image-container {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  overflow: hidden;
  background-size: cover;
  flex-shrink: 0; /* Prevent image container from shrinking */
  background-position: center;
  zoom: 75%;
  border-radius: 12px;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow item details to grow and fill remaining space */
}

.item-description {
  align-self: left;
  padding-top: 10px;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-name {
  font-weight: bold;
  font-size: 20px;
  align-self: flex-start;
}

.favourite-icon {
  margin-left: 5px;
  color: white;
  background-color:transparent;
}
