/* app/assets/stylesheets/favourites.css */

/* CSS Styles for the Favourites List */
ul {
  list-style-type: none;
}

.favourite-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.image-container {
  width: 150x;
  height: 150px;
  margin-right: 10px;
  overflow: hidden;
}

.image-container img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}


.image-container img {
  width: 100px;
  height: 100px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-name {
  font-weight: bold;
}

.favourite-icon {
  margin-left: 5px;
}

.reshare-icon {
  margin-top: 5px;
  text-align: right;
}

.favourite-icon i,
.reshare-icon i {
  color: #888888;
  background-color: transparent;
  fill: none;
}
