  <div class="category-bar">
    <ul class="category-list">
      <li><a href="/">ALL</a></li>
      <% @categories.each do |category| %>
        <li><%= category %></li>
      <% end %>
    </ul>
  </div>
