  <div class="category-bar">
    <ul class="category-list">
      <% @categories.each do |category| %>
        <li>
          <%= link_to places_path(category: category) do %>
          <%= image_tag "icons/categories/#{category}.svg", alt: "#{category} icon", class: "icon-category" %>
          <p class="category-text"><%=category%></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
