<%# wrap whole thing in a link to tag %>

<div class="popup-content">
  <h3><%= place.name %></h3>
  <p><%= place.address %></p>
  <p><%= place.description %></p>
  <!-- Add more information about the place as needed -->
</div>
