 <p class="post-username"> <%= post.user.username %> </p>
<video id ="post_<%= post.id %>_video" class="video cld-video-player">
</video>

<style>
  .post-username{
    position: absolute;
    bottom: 3.5rem;
    z-index: 9999;
  }
  .cld-video-player .vjs-control-bar {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* Add padding to progress control */
  .cld-video-player .vjs-control-bar .vjs-progress-control {
    padding-left: 3rem;
    padding-right: 3rem;
    bottom: 2rem;
  }

  .cld-video-player .vjs-control-bar {
    background-color: transparent;
    z-index: 6;
    opacity: 0.5 !important;
  }

  .vjs-user-inactive .vjs-control-bar {
    display: flex !important;
    visibility: visible !important;
    opacity: 0.5 !important;
  }

  .cld-video-player .vjs-control-bar .vjs-volume-panel {
  display: none !important;
}

</style>

<script>
 var cloudinary_video_player = cloudinary.videoPlayer("post_<%= post.id %>_video",{
    cloud_name: 'dfmuyxggs',
    bigPlayButton: false,
    fluid: false,
    muted: true,
    showLogo: false,
    controls: true,
    controlBar: {
      playToggle: false,
      volumeMenuButton: false,
      fullscreenToggle: false,
      currentTimeDisplay: false,
      timeDivider: false,
      durationDisplay: false,
      remainingTimeDisplay: false,
      progressControl: true,
      children: {
        volumePanel: false
      }
    },
    hideContextMenu: true,
    autoplay: true,
    loop: true,
    colors: {
      base: 'transparent', // Changes the controls bar and information bar to be transparent
      accent: '#FFFFFF', // Sets the seek bar, volume control, and interactions with the UI to white
      text: '#000000' // Sets the text and icons within the video player UI to black
    },
    // To prevent fullscreen on iOS
    playsinline: true
  });

  // Crop video to fill screen (well, the place container)
  cloudinary_video_player.source("<%= post.video_public_id %>", { transformation: { width: document.querySelector('.place').clientWidth, height: document.querySelector('.place').clientHeight, crop: 'fill' }});
</script>
