<nav class="navbar">
  <a class="nav-item <%= 'active' if current_page?(root_path) %>" href="/">Home</a>
  <a class="nav-item <%= 'active' if current_page?(favourites_path) %>" href="/favourites">Favourites</a>
  <a class="nav-item <%= 'active' if current_page?(map_path) %>" href="/map"> Map</a>
  <!-- Add more navigation links as needed -->
</nav>
