<style>
  .navbar {
    background-color: #0D003F;
    color: white;
  }

  .navbar .nav-item i {
    color: white;
  }
</style>

<nav class="navbar">
  <a class="nav-item <%= 'active' if current_page?(root_path) %>" href="/">
    <i class="fas fa-home"></i>
  </a>
  <a class="nav-item <%= 'active' if current_page?(favourites_path) %>" href="/favourites">
    <i class="fas fa-heart"></i>
  </a>
  <a class="nav-item" href="#">
    <i class="fas fa-plus"></i>
  </a>
  <a class="nav-item <%= 'active' if current_page?(map_path) %>" href="/map">
    <i class="fas fa-map-marker-alt"></i>
  </a>
  <a class="nav-item <%= 'active' if current_page?(posts_path) %>" href="/posts">
    <i class="fas fa-user"></i>
  </a>
  <!-- Add more navigation links as needed -->

</nav>

<script>
  const navbarHeight = document.getElementById("navbar").clientHeight;
  console.log(navbarHeight);
</script>
